/* Navbar Component */
#rotateMe {
    width: 50px;
    transition: transform .5s ease-in-out;
}

#logoLink {
    padding: 10px 30px 10px 10px;
    border: 5px solid #494c4e;      
    color: #494c4e;
}

#logoLetters {
    font-family: 'Nunito',sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #494c4e;
    position: relative;
    left: 15px;
    top: -17px;
    z-index: -1;
}

.underline:hover {
    border-bottom: 2px solid #f5c453;
}

/* Home Component */
#img1 {
    background-image: url("./images/marcaspen.jpg");
    background-position: 36%;
}

#img2 {
    background-image: url('./images/profile.jpg');
    background-position: 46%;
}

#img3 {
    background-image: url("./images/mountainmarcus.jpg");
    background-position: 48% 64%;
    background-size: inherit;
}

/* Resume Component */

#resumeImg {
    background-image: url('./images/resume_web.png');
    border: 1px solid #33333370;
    box-shadow: 2px 2px 4px #000000a3;
    height: 820px;
    width: 695px;
    margin: 100px auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* Project Component */

#projectPic {
    background-size: cover;
}

#projectDiv {
    text-align: center;
    padding: 15px 0px 84px 0px;
}

#projectBtn {
    letter-spacing: .5px;
    padding: 21px 31px;
    background-color: #fdfdfd;
    border-radius: 7px;
    font-family: "Nunito",sans-serif;
    font-size: 13px;
    border-color: #f5c453;
    font-weight: 500;
    font-style: italic;
    color: #494c4e;
}

#projectPicOverlay {
    position: relative;
    bottom: 275px;
    height: 275px;
    background-color: #00000061;
    margin: auto;
    margin-bottom: -275px;
}



/* Footer Component */
hr {
    border: .5px solid #f0eeee;
}

#gitPic {
    width: 4%;
    padding: 18px;
    text-align: center;
}

